/* style.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  color: #1a1a1a;
  background-color: #f9f9f9;
}

.header {
  /* display: flex;
  justify-content:space-around;
  align-items: center; */
  /* padding: 1rem 2rem; */
  background: #0f213b;
  box-shadow: 0 1px 4px rgba(0,0,0,0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.into-header {
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  max-width: 1366px;
}

.header-logo {
  max-width: 250px;
}


nav a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.hero {
  padding: 6rem 2rem;
  text-align: center;
  color: #fff;
  background-image: url("img/pexels-pixabay-373543.jpg");
  background-repeat: no-repeat;

  /* background-position: center; */
  background-attachment: fixed;
  /* background: #eef6ff; */
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.slogan {
  color: #f79a32;
  font-weight: 900; 
}

.contained {
  max-width: 600px;
  margin: auto;
}

.cta {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background: #f79a32;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.cta:hover {
  background: #f27c12;
}

nav a {
  transition: ease-in-out 0.2s;
}

nav a:hover {
  color: #f79a32;
}

.section {
  padding: 4rem 2rem;
  text-align: center;
  margin: auto;
}

.ltd {
  max-width: 1366px;
  margin: auto;
}

.deepblue {
  background-color: #0f213b;
  color: #fff;
}

.grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  margin-top: 2rem;
}

.card {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  transition: ease-in-out 0.3s;
}

.why ul {
  list-style: none;
  padding: 0;
  max-width: 600px;
  margin: 2rem auto 0;
}

.why li {
  margin-bottom: 1rem;
}

#expertises .card:hover {
  box-shadow: 0 0 30px  #f79a32;
};


.contact form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}

.contact input,
.contact textarea {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.contact button {
  padding: 1rem;
  border: none;
  background: #f79a32;
  color: white;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;

}

.contact button:hover {
  background: #f27c12;
}

footer {
  background: #111;
  color: white;
  padding: 2rem;
  text-align: center;
}

footer a {
  color: #0A84FF;
  text-decoration: none;
}

/* Fade-in animation */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
